@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.aboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px !important;
  padding-bottom: 48px !important;
  margin-bottom: 48px !important;
}

.aboutUs .right-side img {
  max-width: 100%;
  height: auto;
}

.aboutUs .left-side {
  margin-left: 50px;
}

.aboutUs .left-side h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.aboutUs .left-side .heading {
  color: #16d5ff !important;
  font-size: 20px;
  margin-bottom: 24px !important;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

.aboutUs .left-side p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #999;
  margin-top: 0;
  margin-bottom: 16px;
}

.aboutUs .left-side ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #999;
  font-size: 16px;
  padding: 5px;
}

.aboutUs .left-side ul li i {
  color: #16d5ff !important;
  margin-right: 16px !important;
}

.aboutUs .left-side .read {
  color: #ffffff;
  background-color: #45ddff;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  outline: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: 2px solid #2dd9ff;
  font-size: 16px;
}

.aboutUs .left-side .read:hover {
  background-color: #ffffff;
  color: #45ddff;
}

.about {
  background-color: #f2f8fe !important;
  display: flex;
  justify-content: space-evenly;
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.about .left-side img {
  width: 100%;
  height: auto;
}

.about .right-side h1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 56px;
  font-family: "Roboto", sans-serif;
}

.about .right-side ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
}

.about .right-side ul li {
  list-style: none;
  padding: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #999;
  cursor: pointer;
}

.about .right-side li + li:before {
  padding: 8px;
  color: #999;
  content: "/\00a0";
}

.about .right-side li:nth-child(2) {
  color: #16d5ff;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .aboutUs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .aboutUs .right-side img {
    max-width: 90%;
    height: auto;
  }

  .aboutUs .left-side h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .aboutUs .left-side .heading {
    color: #16d5ff !important;
    font-size: 20px;
    margin-bottom: 24px !important;
    margin-top: 24px;
    font-family: "Roboto", sans-serif;
  }

  .aboutUs .left-side p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #999;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about .left-side img {
    width: 70%;
    margin-left: 50px;
  }
}
